<h1> Places</h1>

<ul>
    <%for place in @places %>
        <li> <%= place["name"]%>
        <a href= "/places/<%= place["name"] %>" </a>
        
        </li>
    <% end %>
</ul>

<p><a href="/places/new">Create a new place</a></p>


